.header
    display: grid
    grid-template-columns: 2.5fr 1fr
    &__left-side
        background: url(../img/header-background.png) center / cover no-repeat
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        padding: 5rem 6.3rem
        height: 80vh
        &_about-us
            width: 100%
            h2
                display: flex
                flex-direction: row
                color: #fff
          
            h2:before, 
            h2:after
                content: ""
                flex: 1 1
                border-bottom: 0.1rem solid #fff
                margin: auto 1rem
            &_logos
                display: flex
                justify-content: space-between
                margin: 0 5rem
 
    &__right-side
        display: flex
        flex-direction: column
        justify-content: center
        background: #101D2C

        &_players
            margin: 0 auto
            &_card
                display: flex
                align-items: center
                margin: 0 auto
                img
                    border-radius: 50%
                    height: 7rem
                    width: 7rem
                &_info
                    margin-left: 2rem

                &:not(:last-child)
                    margin-bottom: 30px
                
    @include respond(tab-port)
        display: flex
        flex-direction: column
        &__left-side
            height: calc( 100vh - 6rem )
            &_logos
                margin: 0
        &__right-side
            padding: 6rem 0
    @include respond(phone)
        &__left-side
            &_about-us
                &_logos
                    display: grid
                    grid-template-columns: repeat(2, 1fr)
                    justify-items: center
                    grid-gap: 3rem
                    margin: 0
